{
  "watchUrl": "http://istio-ingressgateway-istio-system.{{ ocp_ingress_domain[0] }}",
  "watchPath": "/gw-catalog/watches",
  "paymentUrl": "http://istio-ingressgateway-istio-system.{{ ocp_ingress_domain[0] }}",
  "paymentPath": "/gw-payment/payments",
  "orderUrl": "http://istio-ingressgateway-istio-system.{{ ocp_ingress_domain[0] }}",
  "orderPath": "/gw-order/orders"
}